:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Lora', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-size: 62.5%;
    font-family: var(--font-primary);
}



body {
    background-color: #181719;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}


main {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
}

/* ///////////////////////////////////////////// */

header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header p {
    font-size: 1.4rem;
    width: 110px;
    height: 31px;
    border: 1px solid #fff;
    text-align: center;
    padding-top: 7px;
    text-transform: uppercase;
    margin-left: 10px;
}

/* ////////////////////////////////////////////// */
.navbar {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: -100%;
    font-size: 1.8rem;
    background-color: #181719;
    z-index: 1;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: 1s;
}

.navbar ul {
    padding: 0;
    display: grid;
    place-items: center;
}
.navbar li {
    list-style: none;
    margin: 20px 0;
}
.navbar li a {
    font-size: 1.8rem;
    list-style: none;
    margin: 20px 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}


.open {
    opacity: 1;
    top: 0;
    bottom: 0;
}

/* ////////////////////////////////////////////// */

.burger__menu {
    min-width: 49px;
    min-height: 30px;
    background: none;
    border: none;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    right: 0;
    top: 5px;
}

.burger__icon-meddle {
    position: absolute;
    display: block;
    width: 25px;
    border: 1px solid white;
    margin: 0 auto;
    left: 11px;
    transition: 0.5s ease;
}

.burger__icon-top {
    width: 25px;
    height: 0;
    display: block;
    position: absolute;
    border: 1px solid white;
    top: 5px;
    left: 11px;
    transition: 0.8s ease;
}

.burger__icon-bottom {
    width: 25px;
    height: 0;
    display: block;
    position: absolute;
    bottom: 3px;
    border: 1px solid white;
    left: 11px;
    transition: 0.8s ease ;
}

.burger__icon-top.open__icon {
    /* transform: rotate(135deg); */
    transform: rotate(-45deg);
    top: 15px;
}

.burger__icon-meddle.open__icon {
    opacity: 0;
}

.burger__icon-bottom.open__icon {
    transform: rotate(45deg);
    bottom: 13px;
}

/* //////////////////////////////////////////// */

.info {
    padding: 10px;
    max-width: 468px;
    margin: 0 auto;
}
.info__title {
    font-size: 3.6rem;
    margin-bottom: 20px;
    font-family: var(--font-secondary);
}

.info__parrafo {
    font-size: 1.4rem;
    width: 250px;
    margin-bottom: 20px;

}

.info__btn {
    font-size: 1.4rem;
    border: none;
    background: none;
    color: white;
    font-weight: 700;
}

/* //////////////////////////////////////////////// */

.img__container {
    padding: 10px;
    /* height: 532px; */
    max-width: 480px;
    margin: 0 auto;
    position: relative;
}

.img__main {
    max-width: 700px;
    width: 100%;
    min-width: 350px;
    margin: 0 auto;
}

.card {
    width: 300px;
    height: 138px;
    background: #181719;
    position: absolute;
    margin: 0 auto;
    bottom: -70px;
    right: 30px;
    /* transform: translate(85%, -40%); */
    padding: 10px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__designer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.card__img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.card h4{
    font-size: 1.4rem;
}
.card p{
    font-size: 1.2rem;
}
.card h2{
    font-size: 2.2rem;
    width: 210px;
    font-family: var(--font-secondary);
}


/* ////////////////////////////////////////////// */
footer {
	text-align: center;
	width: 100%;
	margin: 90px 0 10px 0;
}

footer p {
	color: #BDBDBD;
	font-size: 1.4rem;
}

footer a {
	font-size: 1.4rem;
	color: #838282;
	font-weight: 700;
}